/*body {
    background-color: rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal {
    border-radius: 5px;
    padding: 2rem 4rem;
    margin:  0 2rem;
    text-align: center;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.modal-title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-1);
    color: var(--text-color);
}

.modal-subtitle {
    font-size: var(--normal-font-size);
    color: var(--text-color);
    max-width: 250px;
}

.form-authentification {

}
.content-authentification {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-group-login{
    text-align: start;
    width: 100% !important ;
    margin-bottom: 1rem;
}

.form-group-login > div{
    display: grid;
    grid-template-columns: repeat(1, 350px);
}

.form-group-input {
    width: auto;
    border-radius: 5px;

    font-size: var(--normal-font-size);
    padding: 0.8rem 0.5rem !important;
}

.msg-error {
    width: 300px !important;
}

.btn {
    margin-top: 1em;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .modal {
        padding: 2rem 2rem;
        margin:  0 1rem;
    }
}

@media screen and (max-width: 576px) {
    .form-group > div{
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .msg-error {
        width: 400px !important;
    }
    .modal {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 350px) {
    .form-group  {
        width: 100% ;
    }

    .msg-error {
        width: 100px;
        max-width: 200px;
    }

    .modal {
        padding: 2rem 0.5rem;
    }
}*/


/* .btn {
    max-width: 200px;
} */

/* #main-scroll {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: initial;
}

.main {
    min-width: 100%;
} */

#login {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background: 
                /* linear-gradient(to top,rgba(0,0,0,0.2), rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), */
                url("./../../../public/logo_instat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}