
/* ========== VARIABLE CSS ========== */
:root {
    --header-height: 3rem;

    /* ===== Colors ===== */
    /* Color mode HSL(hue, saturation, lightness) */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl( var(--hue), var(--sat), 20% );
    --title-color-dark: hsl( var(--hue), var(--sat), 0% );
    --text-color: hsl( var(--hue), var(--sat), 40% );
    --body-color: hsl( var(--hue), var(--sat), 98% );
    --container-color: #fff;
    
    /* RGB(red, green,white) */
    --text-color-white:  rgb(255, 255, 255, 0.8);
    --text-color-white-dark:  rgb(255, 255, 255);
    --bg-color-blue:  rgb(27, 34, 97, 0.8);
    --bg-color-blue-dark:  rgb(27, 34, 97);
    --bg-color-red:  rgba(255, 0, 0, 0.8);
    --bg-color-red-dark:  rgb(255, 0, 0);
    --bg-color: rgb(72, 201, 176, 0.8);
    --bg-color-dark:  rgb(72, 201, 176);

    /* ========= Box Shadow======== */
    --shadow-color: 0 0 1px  rgb(27, 34, 97, 0.8);
    --shadow-color-dark: 0 0 1px  rgb(27, 34, 97);

    --shadow-color: 0 0 1px  rgb(27, 34, 97, 0.8);
    --shadow-color-dark: 0 0 1px  rgb(27, 34, 97);
    /* ===== Font and topography ===== */
    --body-font: "Poppins", sans-serif;
    
    /* .5rem = 8px | 1rem = 16px .... */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;
    
    /* ===== Font weight ===== */
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    
    /* ===== Margence Bottom ===== */
    /* .5rem = 8px | 1rem = 16px */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem;
    --mb-2: 2rem;
    --mb-3: 3rem;
    
    /* ===== z index ===== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* WIDTH AND HEIGHT */
    --w-header: 300px;
    --body-height: 100vh;

}

/* ========== Responsive typography ========== */
@media screen and (max-width: 992px) {
    :root {
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
    }
}

/* ========== BASE ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {   
    scroll-behavior: smooth;
}

body,
button,
textarea {
    box-sizing: border-box;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

bottom {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill:#646363;
    width: 30px;
    height: 30px;
}

/* ========== REUSABLE CSS CLASSES ========== */

/* ===== ERROR MESSAGE ===== */

.big-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--body-height);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/* ========== NAVIGATION ===========*/
.header{
    color: #fff;
    min-width: var(--w-header);
    height: var(--body-height);
    padding: var(--mb-1) 0 var(--mb-1) var(--mb-1);
    background-color: var(--bg-color-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 01s;
    /* row-gap: 1rem; */
}

.header .header-content-1 {
    width: 280px;
    height: 20vh;
}

.header .header-content-2 {
    height: 60vh;
}
.header .header-content-3 {
    height: 20vh;
    height: auto;
    padding-right: 2rem;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.logo-image{
    min-width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.menu {
    display: none;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    height: 5vh;
    animation: animate 0.6s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}


.show-details{
    display: none;
    fill: var(--text-color-white);
}
.show-details{
    cursor: pointer;
}

.remove-details:hover,
.show-details:hover{
    fill: var(--text-color-white-dark);
}

.logo-name h3{
   color: #fff;
}

.ul-li {
    margin-bottom: 1rem;
}

.link {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: var(--text-color-white);
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
}

.header-content svg{
    fill: var(--text-color-white);
    transition: 0.2s;
}

.link:hover,
.link:hover > svg {
    color: var( --text-color-white-dark);
    fill: var(--text-color-white-dark);
}

.card-user {
    padding: 2rem 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

.card-user-img{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.user.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.4rem;
}

.remove-menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    font-size: var(--h2-font-size);
    padding: 0.5rem;
    color: var(--text-color-white);
    cursor: pointer;
    transition: 0.5s;
    display: none;
}

.remove-menu:hover {
    color: var(--text-color-white-dark);
}

.logout {
    transition: 0.2s;
}
.logout:hover {
    transform: scale(1.1);
}

.logout-name {
    display: none;
}

.user-name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.8rem;
}

.user-email {
    font-size: var(--small-font-size);
}

/* ==========MAIN ===========*/
.main{
    /* color: #fff; */
    min-width: calc(100% - var(--w-header));
    height: 100vh;
}

.main-header {
    max-width: 100%;
    width: 100%;
    padding: var(--mb-1);
    background-color: red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--text-color-white-dark);
}

.main-header-left {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1.2rem;
}

.btn-show-menu-icon {
    display: none;
    cursor: pointer;
}

.main-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
}

.main-title {
    margin-bottom: 0.3rem;
}

.content-search {
    padding: 0.3rem;
    box-shadow: 0 0 2px var(--text-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
}

.main-search {
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    font-size: var(--normal-font-size);
}

.notification {
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0 2px var(--text-color);
    border-radius: 5px;
    background-color: var(--text-color-white-dark);
}

.main-header-content,
.main-main-content{
    padding: var(--mb-0-5) var(--mb-1);
}
.main-main-content{
    margin-top: 2rem;
}

.main-header-content-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.main-header-content-subtitle {
    font-size: var(--normal-font-size);
}

.main-local-nav{
    padding: var(--mb-0-5);
    /* background-color: red; */
}

.main-local-nav ul{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.action-local-nav {
    width: 95%;
    display: grid;
    grid-template-columns: 150px 1fr 0.5fr;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
}

.action-local-nav .btn {
    padding: 0.5rem 0.8rem;
}
.action-local-nav .content-add-now {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.add-icon {
    fill: var(--text-color-white);
    transition: 0.1s;
}
.action-local-nav .content-add-now:hover > .add-icon {
    fill: var(--text-color-white-dark);
    transition: 0.1s;
}

.nav-local-li {
    padding-bottom: 0.3rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    border-bottom: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

.nav-local-li:hover {
    transition: 0.3s;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid var(--text-color);
}

/* ===== ACTIVE NAVIGATE ===== */
.active-navigate {
    border-bottom: 2px solid var(--text-color);
}

/* =====ACTIVE MAIN  ===== */
.card{
    display: none;
}
.active-main {
    display: block;;
}

.main-local-nav ul{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    align-items: center;
    column-gap: 1rem;
}

/* ========= MAIN TABLE =========== */
.table-content {
    height: calc( 100vh - 350px);
}

.table {
    width: auto;
    /* width: 100%; */
    border-collapse: collapse;
}

/* .table tbody {
    position: absolute;
    right: 2rem;
} */


.table tr{
    padding: 1rem;
    /* border: 1px solid var(--text-color); */
    padding: 1rem 0.5rem;
}

.table tbody tr{
    /* box-shadow: 0 0 2px 1px var(--text-color); */
    transition: 0.2s;
    border-radius: 5px;
}

.table tbody tr:hover{
    box-shadow: 0 0 0.5px 1px var(--text-color);
    transform: scale(1.01);
    transition: 0.2s;
}

.table thead tr th{
    padding: var(--mb-1-5);
}
.table td{
    width: auto;
    padding: 0.5rem;
}
 .table td{
    padding: 1rem 1rem;
}


.td-action {
    text-align: center;
}

.table .btn {
    padding: var(--mb-0-25) var(--mb-0-75);
}

.table .btn-delete {
    background-color: var(--bg-color-red);
}

.table .btn-delete:hover {
    background-color: var(--bg-color-red-dark);
}

.table svg {
    fill: var(--text-color-white);
}
.table svg:hover {
    fill: var(--text-color-white-dark);
}

/* NEXT-PREV TABLE */
.status-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 1rem;
}
.next-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.previous, .next{
    padding: 0.2rem 0.4rem;
    background-color: lightgrey;
    border-radius: 5px;
    transition: 0.2s;
}

.previous:hover, .next:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.section {
    padding: 6rem 0 2rem;
}

.section_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section_subtitle {
    display: block;
    font-size: var(--h3-font-size);
    margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
    text-align: center;
}

/* ========== LAYOUT ========== */
.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}


/* MESSAGE */
.container-message {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
    color: var(--bg-color-red-dark);
    /* color: #fff; */
}

/* INPUT */

/* ========== BUTTONS ========== */
.button {
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-mediun);
}

.button:hover {
    background-color: var(--title-color-dark);
}

.button_icon {
    margin-left: var(--mb-0-25);
}

.button-flex {
    display: inline-flex;
    align-items: center;
}

/* Boutton */
.btn {
    border: none;
    outline: none;
    padding: 1.5em 2.5em;
    margin-bottom: 0.3rem;
    font-weight: 600;
    box-shadow: 0 0 1px  rgb(27, 34, 97, 0.8);
    background-color:  rgb(27, 34, 97, 0.8);
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    border-radius: 0.4em;
    transition: 0.2s;
}

.btn:hover {
    background:  rgb(27, 34, 97);
}

/* Input, Textarea, Select */

.sex {
    display: block;
}

.sex-group {
    margin-right: 2em;
    text-transform: capitalize;
}

.sex-group .form-group-input  {
    margin-right: 5px;
}

.form-group:not(:first-child) {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    column-gap: 1rem;
    padding: 0.5em 0;
    text-align: start;
}

.form-group-label {
    margin-bottom: 0.2em;
    font-size: 1.2rem;
}

.form-group:first-child .form-group-label {
    margin-bottom: 0.2em;
    cursor: pointer;
}

.image:first-child {
    position: relative;
    max-width: 220px;
    height: 150px;
    margin-bottom: 1em;
    cursor: pointer;
}

.remove-img {
    color: var(--bg-color-red);
    font-weight: var(--font-semi-bold);
    padding: 0.3rem;
    position: absolute;
    top: 1.5rem;
    right: 0.7rem;
    font-size: var(--h3-font-size);
    cursor: pointer;
    display: none;
}
.remove-img:hover {
    color: var(--bg-color-red-dark);
}

.active-remove-img {
    display: block;
}

textarea {
    resize: none;
}

.form-group-input:not([type="radio"], [type="file"]),
.select-option {
    width: 100%;
    padding: 0.8em 0.5em;
    display: block;
    outline: none;
    border: 1px solid  rgb(0, 0, 0, 0.5);
    font-size: 1rem;
    margin-bottom: 0.3em;
    color: var(--text-color);
}

.upload-image {
    width: 220px;
    height: 150px;
    border: 1px solid  rgb(0, 0, 0, 0.5);
}


.msg-error{
    width: 90%;
    color: var(--bg-color-red);
    padding: 0.3em 0.2em;
    /* display: none; */
}

/* .msg-active {
    display: block;
} */

.input-error {
    border: 1px solid #f00 !important;
}


/* WINDOW MODAL */

.add-user, .update-user {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    padding: 0 1rem;
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: top 1s;
}

.add-user,
.update-user {
    display: none;
    top: 0;
    transition: 1s;
}

/* Active modal */
.active-modal {
    display: flex;
    opacity: 1;
    transition: 1s;
}

.modal-container {
    width: 600px;
    background-color: #fff;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--bg-color-blue);
}

.modal-title,
.modal-subtitle {
    color: #fff;
}

.form {
    padding: 2rem 2rem 1.5rem;
}

.btn-close {
    padding: 0.5em 0.8em;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
}

.btn-close:hover {
    color: var(--bg-color-red);
    border: 2px solid var(--bg-color-red);
    background-color: transparent;
}

.btn-clear {
    background-color: var(--bg-color);
}
.btn-clear:hover {
    background-color: var(--bg-color-dark);
}

.action-group {
    margin-top: 2em;
    text-align: end;
}
.action-group button{
    margin-left: 3em;
}

/* ========== BREAKPOINTS ========== */


@media screen and (max-width: 1300px) {
    :root {
        --w-header: 80px;
    }

    .header{
        padding: var(--mb-1) var(--mb-1);
        justify-content: flex-start;
    }

    .menu {
        min-width: 50px;
        display: flex;
        gap: 1rem;
        /* padding: 1rem; */
    }

    .nav {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .remove-details,
    .show-details{
        display: block;
    }

    .header .header-content-1 {
        width: auto;
        height: 10vh;
    }

    .header .header-content-2 {
        height: calc(100vh - (10vh + 10vh + 20vh));
    }
    
    .header .header-content-3 {
        padding-right: initial;
        height: 10vh;
    }

    .card-user {
        border-color: transparent;
    }

    .card-user-img {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .link-name,
    .logo-name,
    .user-name,
    .user-email {
        display: none;
    }
    
    .link:hover > svg {
        transition: 0.2s;
        transform: scale(1.2);
    }
    
    
    /* SHOW MENU WITH DETAILS */
    .show-details-menu {
        display: block !important;
    }
    .max-header {
        width: 300px;
        position: absolute;
        transition: 01s;
    }
    
    /* ACTIVE ROTATE NAV */
    .active-rotate-nav {
        transform: rotate(180deg);
        transition: 0.5s;
    }
    .menu-right {
        justify-content: flex-end;
    }

    .flex-start {
        align-items: flex-start;
        flex-direction: row;
    }

    .logo {
        align-items: center;
        /* justify-content: center; */
    }

    /* #link-name,
    #logo-name,
    #user-name,
    #user-email {
        display: block;
    } */

    .table-content {
        height: 60vh;
    }
    
}

/* SPECIAL HEIGHT  */
@media screen and (max-height: 576px) {
    .header {
        justify-content: flex-start;
        height: 100vh;
    }
    .header .header-content-1 {
        height: 20vh !important;
    }
    .header .header-content-2 {
        height: 40vh !important;
    }
    .header .header-content-3 {
        height: 5vh !important;
    }
}

/* For large devices */
@media screen and (max-width: 992px) {
    .main {
        width: 100%;
    }
    .remove-img {
        font-size: var(--h1-font-size);
    }

    .main-main-content {
        scrollbar-width: 5px !important;
        scrollbar-color: var(--bg-color-blue);
    }
    
    .table-content {
        overflow-x: scroll;
    }

    .status-table {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}
 
/* For medium devices */
@media screen and (max-width: 768px) {

    /* .big-container {
        flex-direction: column;
    }

    .header {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding: var(--mb-0-5) var(--mb-1) ;
    }

    .header .header-content-1,
    .header .header-content-2,
    .header .header-content-3 {
        height: auto;
        width: auto;
    }

    .menu {
        display: none;
    }

    .logo {
        justify-content: flex-start;
        flex-direction: column;
        row-gap: var(--mb-0-5);
    }

    .show-details {
        display: none;
    }

    .nav ul{
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;
    }

    .card-link .link svg,
    /* .logo-image, */
    /* .card-user-info {
        display: none;
    }

    .card-user {
        width: initial;
        padding: 0 0;
    }
    
    .card-user-img {
        flex-direction: row;
        margin-bottom: 0;
        column-gap: 1rem ;
        row-gap: 0;
        margin-bottom: 0.5rem;
    }

    .link-name,
    .logo-name,
    .card-user-info {
        display: block;
    } */ */


    .main {
        margin-top: 0;
    }

    .main-header {
        flex-direction: column;
        row-gap: var(--mb-1);
    }

    .main-header-content {
        padding-top: 0;
        padding-bottom: 0;
    }

    .main-header-right {
        width: 100%;
        justify-content: space-between;
    }

    .main-main-content {
        margin-top: var(--mb-0-25);
    }

    .status-table {
        display: block;
    }
    .next-prev {
        margin-top: 8px;
        justify-content: flex-start;
    }

    .table-content {
        height: 40vh;
    }

    .action-local-nav {
        grid-template-columns: auto;
        justify-content: flex-start;
        column-gap: 0;
        row-gap: var(--mb-0-75);
    }
}

@media screen and (max-width: 576px) {
    .action-group {
        text-align: center;
        margin-top: 0.5rem;
        row-gap: 0.5rem;
    }
    .action-group .btn{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .header {
        width: 100%;
        height: auto;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 2rem;
        top: -100%;
        transition: 0.3s;
    }

    .header-top {
        top: 0;
    }

    .header .header-content-1,
    .header .header-content-2,
    .header .header-content-3 {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-content {
        display: flex;
    }

    .menu {
        display: none;
        margin-left: 100px;
    }

    .logo {
        justify-content: flex-start;
        flex-direction: column;
        row-gap: var(--mb-0-5);
    }

    .show-details {
        display: none;
    }

    .nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
    }

    .card-link .link svg,
    /* .logo-image, */
    .card-user-info {
        display: none;
    }

    .card-user {
        width: initial;
        padding: 0 0;
    }
    
    .card-user-img {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        column-gap: 1rem ;
        row-gap: 2rem;
        margin-bottom: 0.5rem;
    }

    .remove-menu {
        display: block;
    }

    .link-name,
    .logo-name,
    .user-email,
    .user-name,
    .btn-show-menu-icon {
        display: block;
    }

    .card-user-info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .user-image {
        margin-bottom: 1rem;
    }

    /* .logout {
        display: block;
    } */

    .logout-name {
        display: block;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .content-search {
        grid-template-columns: auto 150px;
    }

    .main-local-nav ul{
        grid-template-columns: repeat(2, max-content);
        gap: 1.5rem;
    }
}

