/* ========== REUSABLE CSS CLASSES ========== */

/* ==========MAIN ===========*/
.main{
    /* color: #fff; */
    min-width: calc(100% - var(--w-header));
    height: 100vh;
  }
  
  .main-header {
    max-width: 100%;
    width: 100%;
    padding: var(--mb-1);
    background-color: red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--text-color-white-dark);
  }
  
  .main-header-left {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 1.2rem;
  }
  
  .btn-show-menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .main-header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
  }
  
  .main-title {
    margin-bottom: 0.3rem;
  }
  
  .content-search {
    padding: 0.3rem;
    box-shadow: 0 0 2px var(--text-color);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30px calc(100% - 30px);
  }
  
  .main-search {
    outline: none;
    border: none;
    padding: 0.5rem 0.7rem;
    font-size: var(--normal-font-size);
  }
  
  .notification {
    padding: 0.3rem 0.5rem;
    box-shadow: 0 0 2px var(--text-color);
    border-radius: 5px;
    background-color: var(--text-color-white-dark);
  }
  
  .main-header-content,
  .main-main-content{
    padding: var(--mb-0-5) var(--mb-1);
  }
  .main-main-content{
    margin-top: 2rem;
  }
  
  .main-header-content-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
  }

  .main-header-content-subtitle {
    font-size: var(--normal-font-size);
  }



/* ========== BREAKPOINTS ========== */

@media screen and (max-width: 1300px) {

  }
  
  /* For large devices */
  @media screen and (max-width: 992px) {

    .table-content {
        overflow-x: scroll;
    }
  
    .status-table {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {

    .main {
        margin-top: 0;
    }
  
    .main-header {
        flex-direction: column;
        row-gap: var(--mb-1);
    }
  
    .main-header-content {
        padding-top: 0;
        padding-bottom: 0;
    }
  
    .main-header-right {
        width: 100%;
        justify-content: space-between;
    }
  
    .action-local-nav {
        grid-template-columns: auto;
        justify-content: flex-start;
        column-gap: 0;
        row-gap: var(--mb-0-75);
    }
  }
  
  @media screen and (max-width: 576px) {
    .action-group {
        text-align: center;
        margin-top: 0.5rem;
        row-gap: 0.5rem;
    }
    .action-group .btn{
        width: 100%;
        margin-left: 0;
    }
  }
  
  @media screen and (max-width: 576px) {

  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .content-search {
        grid-template-columns: auto 150px;
    }
  
    .main-local-nav ul{
        grid-template-columns: repeat(2, max-content);
        gap: 1.5rem;
    }
  }
  
  