.isConnect {
    position: relative;
}

.isConnect .connect {
  position: absolute;
  top: -1rem;
  left: initial;
  right: 0;
  padding: 0.3rem;
  background-color: #36aa00;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}