/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.invalid {
  display: block;
}

.valid {
  display: none;
}

.hide {
  display: none;
} */


/* DEBUT DU STYLE CSS */


/* ========== VARIABLE CSS ========== */
:root {
  --header-height: 3rem;

  /* ===== Colors ===== */
  /* Color mode HSL(hue, saturation, lightness) */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl( var(--hue), var(--sat), 20% );
  --title-color-dark: hsl( var(--hue), var(--sat), 0% );
  --text-color: hsl( var(--hue), var(--sat), 40% );
  --body-color: hsl( var(--hue), var(--sat), 98% );
  --container-color: #fff;
  
  /* RGB(red, green,white) */
  --text-color-white:  rgb(255, 255, 255, 0.8);
  --text-color-white-dark:  rgb(255, 255, 255);
  --bg-color-blue:  #1b2261cc;
  --bg-color-blue-dark:  rgb(27, 34, 97);
  --bg-color-red:  rgba(255, 0, 0, 0.8);
  --bg-color-red-dark:  rgb(255,  0, 0);
  --bg-color: rgb(72, 201, 176, 0.8);
  --bg-color-dark:  rgb(72, 201, 176);

  /* ========= Box Shadow======== */
  --shadow-color: 0 0 1px  rgb(27, 34, 97, 0.8);
  --shadow-color-dark: 0 0 1px  rgb(27, 34, 97);

  --shadow-color: 0 0 1px  rgb(27, 34, 97, 0.8);
  --shadow-color-dark: 0 0 1px  rgb(27, 34, 97);
  /* ===== Font and topography ===== */
  --body-font: "Poppins", sans-serif;
  
  /* .5rem = 8px | 1rem = 16px .... */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;
  
  /* ===== Font weight ===== */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  
  /* ===== Margence Bottom ===== */
  /* .5rem = 8px | 1rem = 16px */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;
  --mb-2: 2rem;
  --mb-3: 3rem;
  
  /* ===== z index ===== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* WIDTH AND HEIGHT */
  --w-header: 300px;
  --body-height: 100vh;

}

/* ========== Responsive typography ========== */
@media screen and (max-width: 992px) {
  :root {
      --big-font-size: 2.75rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: 0.938rem;
      --small-font-size: 0.813rem;
      --smaller-font-size: 0.75rem;
  }
}

/* ========== BASE ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {   
  scroll-behavior: smooth;
}

body,
button,
textarea {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

bottom {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  fill:#646363;
  width: 30px;
  height: 30px;
}
